:root {
  --default-font-family: "Questrial", Arial, Helvetica, sans-serif;
  --secondary-font-family: "Daniel", Arial, Helvetica, sans-serif;
}

@font-face {
  font-family: "Daniel";
  src: local("Daniel"), url("danielbd.ttf") format("truetype"),
    url("daniel.ttf") format("truetype"), url("danielbk.ttf") format("truetype");
}

body {
  font-family: var(--default-font-family);
  background-color: #b52222;
}
.questrial-regular {
  font-family: "Questrial", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.container {
  max-width: 1400px;
  margin: 2px auto;
}
.logo {
  max-height: 60px;
}

.navbar {
  background-color: #fefefe;
  font-family: var(--secondary-font-family);
  text-transform: uppercase;
}

.nav-link {
  font-weight: 500;
}

header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.2)),
    url("../images/hero.png");
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
  text-align: center;
  padding: 250px 0;
}

h1 {
  font-weight: 600;
  font-size: 80px;
  line-height: 1;
  font-family: var(--default-font-family);
  margin: 20px 0;
}

header h2 {
  font-weight: 300;
  font-size: 30px;
  line-height: 1;
  margin: 0;
}

header a {
  font-weight: 500;
  font-size: 12px;
  line-height: 1;
  text-align: center;
  letter-spacing: 3px;
  text-transform: uppercase;
  background-color: white;
  text-decoration: none;
  color: red;
  padding: 16px 32px;
  margin-top: 32px;
  display: inline-block;
}

.img-responsive {
  max-width: 100%;
  display: block;
  border-radius: 4px;
}

section {
  max-width: 100%;
  margin: 0 auto;
  padding: 100px;
}

main {
  background-color: #fefefe;
}

section.secondary {
  background-color: lightgrey;
}

main h2 {
  font-weight: 700;
  font-size: 16px;
  line-height: 1;
  letter-spacing: 10px;
  opacity: 0.3;
  color: #b52222;
  margin: 0;
  text-transform: uppercase;
}

main h3 {
  font-size: 40px;
  font-weight: 700;
  line-height: 1.5;
  color: #b52222;
  margin: 0 auto;
}

h4 {
  font-weight: 700;
  font-size: 24px;
  line-height: 1.5;
  color: #b52222;
  margin: 0;
}

h5 {
  font-weight: 700;
  font-size: 24px;
  line-height: 24px;
  color: #b52222;
  margin: 0;
}

h6 {
  color: #aa2c25;
  font-family: var(--default-font-family);
  letter-spacing: 2px;
}

main p {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  color: #2a2a2a;
  opacity: 0.7;
}

.grid {
  display: grid;
  grid-gap: 64px;
}

.grid-2-columns {
  grid-template-columns: 1fr 1fr;
}

.grid-3-columns {
  grid-template-columns: 1fr 2fr 2fr;
}

.grid-3 {
  grid-template-columns: 1fr 1fr 1fr;
}

.card {
  margin: 30px 0;
  border: none;
}

.card-body {
  padding: 30px;
}

.card-img-top {
  background-size: cover;
}

.tours {
  background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.2)),
    url("../images/tours.png");
  background-repeat: no-repeat;
  color: white;
  text-align: center;
  height: fit-content;
  background-size: cover;
}

.tours h1 {
  text-align: left;
}

.why {
  list-style: none;
  text-align: center;
}

.why li {
  margin: 15px;
}

.card-title {
  color: #aa2c25;
  font-family: var(--default-font-family);
}
.contact {
  background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.2)),
    url("../images/contact.png");
  background-repeat: no-repeat;
  color: white;
  text-align: center;
  height: fit-content;
  background-size: cover;
}

.address {
  list-style: none;
}

.cancel-card {
  background-color: #aa2c25;
  color: white;
  padding: 25px;
  border-radius: 8px;
}

.cancel h3 {
  text-align: center;
  font-weight: 200;
  font-size: 40px;
  line-height: 1.5;
  margin: 30px;
  color: white;
}

.cancel p {
  text-align: center;
  margin-bottom: 30px;
  color: white;
}

.hire-gear {
  background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.2)),
    url("../images/gear.png");
  background-repeat: no-repeat;
  color: white;
  text-align: center;
  height: fit-content;
  background-size: cover;
}

.about {
  background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.2)),
    url("../images/about.png");
  background-repeat: no-repeat;
  color: white;
  text-align: center;
  height: fit-content;
  background-size: cover;
}

.about-card {
  color: white;
  background-color: #b52222;
  max-width: 75%;
  padding: 25px;
  margin: 10px 200px;
  border-radius: 8px;
}
.about-card h5 {
  color: white;
  padding: 5px;
}

.about-card p {
  color: white;
}

.btn {
  display: block;
  color: #fff;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 3px;
  text-transform: uppercase;
  padding: 16px;
  background-color: #b52222;
  text-decoration: none;
  margin-top: 30px;
}

.text-center {
  text-align: center;
}

.instagram-embed {
  margin: 30px 0;
}

footer {
  color: #fff;
  background-image: linear-gradient(
      rgba(125, 70, 70, 0.9),
      rgba(125, 70, 70, 0.9)
    ),
    url("../images/hero.png");
  background-repeat: no-repeat;
  background-size: cover;
}

footer h3 {
  font-weight: 700;
  font-size: 20px;
  line-height: 30px;
}

footer p {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  opacity: 0.8;
}

footer ul {
  padding: 0;
}

footer li {
  list-style: none;
  margin: 0;
  padding: 0;
}

footer a {
  opacity: 0.7;
  color: white;
}

@media (max-width: 960px) {
  header {
    padding: 60px 0;
  }
  h1 {
    font-size: 48px;
  }
  header h2 {
    font-size: 20px;
  }
  header h3 {
    font-size: 12px;
  }
  .grid {
    grid-template-columns: 1fr;
    grid-gap: 32px;
  }
  section {
    padding: 30px;
  }
}
